@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;500;600;800&display=swap');

body{ font-family: 'Montserrat', sans-serif; }
.container{ margin:0 auto; width:1130px; }

.main-header-logo{ overflow:hidden; height:100px; border-bottom:1px solid #eee; }
.main-header-logo h1{ font-size:24px; line-height:100px; }

.main-header-nav{ overflow:hidden; height:54px; border-bottom:1px solid #eee;}